<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    </head>
<body>
    <div class="container">
    <h1> APLICACION CON FLASK </h1>
    <form>
        <label>NOMBRE:</label>
        <input type="text" placeholder="Ingresar su nombre">
        <label>APELLIDOS:</label>
        <input type="text" placeholder="Ingresar su apellido">
        <label>CORREO ELECTRONICO</label>
        <input type="text" placeholder="Ingresar su correo electronico">
        <label>DIRECCION:</label>
        <input type="text" placeholder="Ingrese su direccion">
        <label>TELEFONO</label>
        <input type="text" placeholder="Ingrese su telefono">
    </form>
</div>

</body>

</html>

